<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <banner>
            <general>
                <enable>1</enable>
                <display_text>https://i.redd.it/kg7dlnm296t01.jpg</display_text>
            </general>
        </banner>
    </default>
</config>