<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <appstronaut_braspag>
                <title>Appstronaut Braspag</title>
                <model>Appstronaut\Braspag\Model\Braspag</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
            </appstronaut_braspag>
        </payment>
    </default>
</config>
